<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-10">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
          ></textarea>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button> 
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-10">
      <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length>=1 && !isFetching">
       
        <li class="list-group-item" *ngFor="let post of loadedPosts">
          <div class="textaaa">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
          </div>
          
          <p class="text-muted">Date and time</p>
          <div class="float-right">
            <button class="btn btn-primary">Edit</button> |
            <button class="btn btn-danger">Delete</button>
          </div>
          
        </li>
        
      </ul>
      <p *ngIf="isFetching && !error">Loading....</p> 
      <div class="alert alert-danger" *ngIf="error">
        <h1>An Error Occurred!</h1>
        <p>{{ error }}</p>
      </div>
      
    </div>
  </div>
</div>
