<section class="clean-block clean-services dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/1.png">
                    <div class="card-body">
                        <h4 class="card-title">Lecture Schedule</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/1.png">
                    <div class="card-body">
                        <h4 class="card-title">Notices</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="../../assets/img/2.png">
                    <div class="card-body">
                        <h4 class="card-title">News</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/1.png">
                    <div class="card-body">
                        <h4 class="card-title">Social media</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/1.png">
                    <div class="card-body">
                        <h4 class="card-title">Modules</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/1.png">
                    <div class="card-body">
                        <h4 class="card-title">Notices(submit)</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/2.png">
                    <div class="card-body">
                        <h4 class="card-title">Event Calendar</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/2.png">
                    <div class="card-body">
                        <h4 class="card-title">Outlook</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/2.png">
                    <div class="card-body">
                        <h4 class="card-title">Student Access(dle & LMS)</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/2.png">
                    <div class="card-body">
                        <h4 class="card-title">Transport Schedule</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/2.png">
                    <div class="card-body">
                        <h4 class="card-title">Maps</h4>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>