<div class="row justify-content-md-center">
    <div class="col-lg-8 col-md-6 col-md-offset-3">

        <div class="col-12" *ngIf="authError">
            <div class="row">
                <div class="col-12 alert alert-danger">
                    {{ authError?.message }}
                </div>
            </div>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div formGroupName="userData">
            <div class="form-group">
              <label for="username">Email</label>
              <input
                type="text"
                id="username"
                formControlName ="username" 
                class="form-control">
                <span
                *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" 
                class="help-block">Please Enter a Valid Username!</span>
            </div>
            <div class="form-group">
              <label for="email">Password</label> 
              <input
                type="text"
                id="email"
                formControlName = "email"
                class="form-control">
            </div>
                <span
                *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" 
                class="help-block">Please Enter a Valid Email!</span>
            </div>
            
         
            
            <span
                *ngIf="!signupForm.valid && signupForm.touched" 
                class="help-block">Please Enter a Valid Data!</span> <br>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
    </div>
</div>